<form (ngSubmit)="createEmployee()">
    <div>
      <label for="ename">Name:</label>
      <input
        type="text"
        id="ename"
        [(ngModel)]="employee.ename"
        name="ename"
        required
      />
    </div>
  
    <div>
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="employee.email"
        name="email"
        required
      />
    </div>
  
    <div>
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="employee.password"
        name="password"
        required
      />
    </div>
  
    <div>
      <label for="gender">Gender:</label>
      <select id="gender" [(ngModel)]="employee.gender" name="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
    <div>
      <label for="role">Role:</label>
      <select id="role" [(ngModel)]="employee.role" name="role">
        <option value="Admin">Admin</option>
        <option value="Employee">Employee</option>
      </select>
    </div>
  
    <div>
      <label for="dob">Date of Birth:</label>
      <input
        type="date"
        id="dob"
        [(ngModel)]="employee.dob"
        name="dob"
        required
      />
    </div>
  
    <div>
      <label for="department">Department:</label>
      <select
        id="department"
        [(ngModel)]="employee.department.deptId"
        name="department"
        (change)="updateDepartmentName()"
        required
      >
        <option value="" disabled selected>Select a department</option>
        <option *ngFor="let dept of departments" [value]="dept.deptId">
          {{ dept.name }}
          <!-- Display department name -->
        </option>
      </select>
    </div>
    
      <!-- Back to Dashboard Button -->
    <button type="button" class="btn btn-secondary" (click)="goToDashboard()">Back to Dashboard</button>
  
  
    <button type="submit">Create Employee</button>
  </form>